DIATOM_DETECTOR=model_weights/detectors/detector_default.pt
CLEARML_ENABLED=1
CLEARML_STRICT=0
CLEARML_PROJECT=Diatom Classification
CLEARML_TASK_NAME=YOLOv11 detector training
CLEARML_OUTPUT_URI=true
CLEARML_API_HOST=
CLEARML_WEB_HOST=
CLEARML_FILES_HOST=
CLEARML_API_ACCESS_KEY=
CLEARML_API_SECRET_KEY=